# ignore all the python files
mj.py
model.py

# ignore all the txt files
*.txt

# ignore the configuration files
*.ini

# ignore all the log of jupiter
*.ipynb_checkpoints

# ignore the gitignore
*.gitignore
*.html

# ignore all this folder
dataset/*
images/*
models/*
